.taskConatiner {
  display: flex;
  gap: 25px;
  cursor: pointer;
  padding: 15px 0;

  .tabName {
    border-bottom: solid #1976d2;
    border-radius: 2px;
    color: #1976d2;
  }
}

.btnContainer {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;

  .btnStyle {
    background-color: #1976d2 !important;
    color: #ffffff;
    &:hover {
      background-color: rgb(237, 223, 204) !important;
    }
  }
}

.tableContainer {
  max-width: 88vw;
  overflow: auto;
  div {
    overflow: unset;
  }
}

.actionColumnContainer {
  display: flex;
  gap: 15px;
  div {
    width: 20px;
  }
}

.taskAlignment{
  display: flex;
  justify-content:space-between;
  width:300px
}

.taskModalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterBtnContainer {
  position: relative;
}