@media only screen and (max-width: 768px) {
    .rdt_TableCell {
      padding: 4px 8px;
    }
  
    .rdt_TableHeader {
      font-size: 14px;
    }
  
    .rdt_TableCell > button {
      margin: 0 2px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .rdt_TableHeader {
      font-size: 12px;
    }
  
    .rdt_TableCell {
      font-size: 12px;
    }
  
    .rdt_TableCell > button {
      margin: 0 1px;
    }
  }

  .actionColumnContainer {
    display: flex;
    gap: 15px;

    div {
        width: 20px;
    }

  }